// color
$white: #ffffff;
$black: #000000;

// Theme Colors
$primaryColor: #5f5f79;
// $secondaryColor: #6CC0C8;
$baseTextColor: $black;
$bodyBg: $white;
$primaryBg: #FAFAFA;
$footerBg: #FAFAFA;
$btnColor: #022C82;
$borderColor: #C7C7CC;
$errorColor: #FF3326;
$baseFontSize: 16;
$fontPrimary: 'Poppins', sans-serif;